

/* header section */
.nav{
    width: 100%;
    display: flex;
    position: fixed;
    top:0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(255, 255, 254); */
}


.navleft{
  width: 20%;
  /* align-items: center; */
  text-align: center;
  padding: 4rem 0rem;
  background-color: rgba(248, 246, 246, 0.368);
}

.navleft .navlogo{
 margin-left: 0rem;
}

.navleft .navlogo a{
    color: rgb(23, 23, 23);
}
.navleft .navlogo h2{
    font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1.6px;
}

.navlist ul{
    list-style: none;
    display: flex;
    gap:2rem;
    margin-top: 2rem;
}



.navright .navlist{
    margin-right: 5rem;
    margin-top: -2.5rem;
}

.navright .navlist  .navlink{
    width: 100%;
    height: 100%;
    display: flex;
    border: 0.1px solid rgba(0, 0, 0, 0.14);
    padding: 0.7rem;
    border-radius: 50%;
    cursor:pointer;
}

.navlist ul .search{
    display: none;
}

.navlist .navitem img{
    width: 2.2rem;
}

.navitem{
    position: relative;
}

.navitem p{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 1.5rem;
    top:-0.7rem;
    right:-0.7rem;
    /* border: 1px solid rgb(12, 12, 12); */
    border-radius: 50%;
    color: white;
    background-color: rgb(230, 46, 46) ;
}

/* nav mid */
.navmid{
    display: flex;
    align-items: center;
}

.navmid input{
    padding: 0.8rem 8rem;
    border: 1px solid rgb(160, 159, 159);
    padding-left: 1rem;
    border-radius: 6px;
}

.navmid button{
    padding: 0.1rem 0.4rem;
    
    margin-left: -3.6rem;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
   
}
/* end nav mid */

.navlist ul img,.navmid img{
    width: 24px;
    object-fit: cover;
}

.navright .notlogin  .navlink{
    border-radius: 6px;
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    font-family: 'Open Sans';
}

.navright .notlogin .signup{
    background-color:rgb(73, 73, 229);
    color: white;
}

.navright .notlogin .login{
    border-color: rgb(73, 73, 229);
}


/* end header section */




